body {
    background-color: rgb(96, 246, 117)
}
h1 {
    color: rgb(21, 21, 40)
}
p {
    color: rgb(21, 21, 40)
}
input {
    background-color: rgb(96, 246, 117)
}
button {
background-color: rgb(96, 246, 117)
}
select {
background-color: rgb(96, 246, 117)
}
