body {
    background-color: #42d0ff
}
h1 {
    color: #ff19e4
}
p {
    color: #ff19e4
}
input {
    background-color: #42d0ff
}
button {
background-color: #42d0ff
}
select {
background-color: #42d0ff
}